.cart-container{
    background-color: antiquewhite;
    height: 350px;
    width: 250px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
}